<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihs.device.clean.junk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--Internal Junk scan && clean -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <!--External Junk scan && clean -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:supportsRtl="true">
        <service
            android:name=".service.JunkService"
            android:process=":clean"/>

        <receiver
            android:name=".JunkBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":clean">
            <intent-filter>
                <action android:name="hs.app.session.SESSION_START"/>
                <action android:name="hs.app.session.SESSION_END"/>
                <action android:name="hs.commons.config.CONFIG_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
